[package]
name = "pyadb_client"
description = "Python wrapper for adb_client library"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true
readme = "README.md"

[lib]
name = "pyadb_client"
crate-type = ["cdylib"]

[dependencies]
anyhow = { version = "1.0.94" }
adb_client = { version = "2.0.6" }
pyo3 = { version = "0.23.3", features = ["extension-module", "anyhow"] }
