name: Python - Build packages & Release

on:
  push:
    branches:
      - main
  pull_request:
  release:
    types: [created]

jobs:
  build-python-packages:
    strategy:
      fail-fast: false
      matrix:
        arch: [x86_64, arm64]

    runs-on: ${{ matrix.arch == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}

    steps:
      - uses: actions/checkout@v4

      - name: Build Python stubs
        run: cargo run --bin stub_gen

      - name: Install Python build dependencies
        run: pip install maturin==1.10.2

      - name: Build Python packages
        run: maturin build --sdist --release -m pyadb_client/Cargo.toml

      # ==========================
      # PUBLISH (release only)
      # ==========================
      - name: Publish Python packages to PyPI
        if: github.event_name == 'release' && github.event.action == 'created'
        run: maturin publish --skip-existing --non-interactive -m pyadb_client/Cargo.toml
        env:
          MATURIN_PYPI_TOKEN: ${{ secrets.MATURIN_PYPI_TOKEN }}

      - name: Publish GitHub release artifacts
        if: github.event_name == 'release' && github.event.action == 'created'
        uses: softprops/action-gh-release@v2
        with:
          files: |
            target/wheels/*.whl
