name: Python - Build packages & Release

on:
  push:
    branches:
      - main
  pull_request:
  release:
    types: [created]

jobs:
  # ============================
  # BUILD (multi-architecture)
  # ============================
  build-python-packages:
    strategy:
      fail-fast: false
      matrix:
        arch: [x86_64, arm64]

    runs-on: ${{ matrix.arch == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}

    steps:
      - uses: actions/checkout@v4

      - name: Build Python stubs
        run: cargo run --bin stub_gen

      - name: Install Python build dependencies
        run: pip install maturin==1.10.2

      - name: Build Python packages
        run: maturin build --sdist --release -m pyadb_client/Cargo.toml

      - name: Publish Python packages to PyPI
        run: maturin publish -m pyadb_client/Cargo.toml --non-interactive
        env:
          MATURIN_PYPI_TOKEN: ${{ secrets.MATURIN_PYPI_TOKEN }}

      - name: Publish GitHub release artifacts
        uses: softprops/action-gh-release@v2
        with:
          files: |
            target/wheels/*.whl
