name: Rust - Build

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-release:
    name: "build-release"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build project
      run: cargo build --release --all-features